botocore==1.5.67
Flask==0.12.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
numpy==1.13.0
pathspec==0.5.0
python-dateutil==2.6.0
PyYAML==3.12
requests==2.9.1
semantic-version==2.5.0
six==1.10.0
SQLAlchemy==1.1.10
tabulate==0.7.5
termcolor==1.1.0
websocket-client==0.40.0
Werkzeug==0.12.2
WTForms==2.1
PyMySQL==0.7.11
