{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<div class="container">

<div class="col-lg-10 col-lg-offset-1">

        <div align="center">
          <h2>Employee Attrition Prediction Web App</h2>
        </div>

  <hr>

  <form method="post" action="/index"  id="db_post" name="db_post">

      {{ form1.hidden_tag() }}
      <label>Compares any current employee against attrition data to see how likely they are to leave</label>
      <div style="max-width:400px;">
        {{ macros.render_field(form1.dbNotes, placeholder='Enter Employee Name', type='dbNotes', label_visible=false) }}
      <!-- <div align="center"> -->
        <button type="submit" class="btn btn-primary">Submit</button></p>
      <!-- </div> -->
    </div>

  </form>

  <br>
  <hr>

  <form method="post" action="/index"  id="db_post" name="db_view">

      {{ form2.hidden_tag() }}
      <label>See the top ten employees with the highest risk of leaving</label>
        <div style="max-width:400px;">
      <!-- <div align="center"> -->
        <button type="submit" class="btn btn-primary">Retrieve</button></p>
      <!-- </div> -->
    </div>

  </form>

  <br>
  <hr>
  <div><h6>built with python, flask and aws</h6></div>
</div>
</div>

{% endblock %}
