{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<script>
function outputUpdate(name, value) {
    document.querySelector('#selected-' + name).value = value;
}
</script>

<div class="container">

<div class="col-lg-10 col-lg-offset-1">

        <div align="center">
          <h2>Employee Attrition Prediction Web App</h2>
        </div>

  <hr>

  <form method="post" action="/index"  id="db_post" name="db_post">

        {{ form1.hidden_tag() }}
        <label>Compares any current employee against attrition data to see how likely they are to leave</label>
        <div style="max-width:400px;">
          <br>
          {{ macros.render_field(form1.employee_name, placeholder='Enter Employee Name', type='employee_name', label_visible=true) }}

          {{ form1.s_level.label }}:
          {{ form1.s_level(min=0, max=1, step='.01', id='s-level', oninput="outputUpdate(id, value)") }}
          <output for="s-level" id="selected-s-level">{{ form1.s_level.data }}</output>
          <br>
          {{ form1.eval_score.label }}:
          {{ form1.eval_score(min=0, max=1, step='.01', id='eval-score', oninput="outputUpdate(id, value)") }}
          <output for="eval-score" id="selected-eval-score">{{ form1.eval_score.data }}</output>
          <br>

          {{ macros.render_field(form1.number_projects_performed, type='number_projects_performed', label_visible=true) }}
          {{ macros.render_field(form1.average_monthly_hours_worked, type='average_monthly_hours_worked', label_visible=true) }}
          {{ macros.render_field(form1.tenure, type='tenure', label_visible=true) }}
          {{ macros.render_checkbox_field(form1.work_accident) }}
          {{ macros.render_checkbox_field(form1.promotion_in_last_5years) }}
          <br>
          {{ form1.salary.label }}:
          {{ form1.salary }}
          <br>
          <br>
          {{ form1.department.label }}:
          {{ form1.department }}
          <br>
          <br>
        <!-- <div align="center"> -->
          <button type="submit" class="btn btn-primary">Submit</button></p>
        <!-- </div> -->
      </div>

    </form>

  <br>
  <hr>
  <div><h6>built with python, flask and aws</h6></div>
</div>
</div>

{% endblock %}
